.graph {
    width: 480px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    /* border: 1px solid red;       */
}

.transaction-num-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* width: 200px; */
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 2rem 0;
    
    color: #f5f5f5;
    background-color: #429482;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}

.transaction-num-text {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.transaction-num-value {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.budget-bar-container {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #429482;
    /* border: 1px solid red; */
}

.budget-bar-left-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.budget-bar {
    width: 300px;
    height: 20px;
    border-radius: 2rem;
    margin: 0.5rem 0;
    background-color: #3EB489;
}

.budget-bar-spent {
    height: 100%;
    border-radius: 2rem;
    background-color: #8AE3A8;
}

.budget-bar-value {
    font-size: 2.2rem;
    font-weight: 600;
    color: #f5f5f5;
}

.budget-bar-text {
    color: #f5f5f5;
    font-size: 1rem;
}